<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova de Programação IV</title>
</head>
<body>
    <h1>Cadastro de Animal</h1>
    <hr>
    <form action="/processaranimais" method="post">
        <label for="registro">Número de Registro:</label>
        <input type="text" name="registro" id="registro" size="10"><br><br>

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" size="30"><br><br>

        <fieldset>
            <legend>Espécie:</legend>
            
            <input type="radio" name="especie" id="cachorro" value="1">Cachorro<br>
            <input type="radio" name="especie" id="gato" value="2">Gato<br>
            <input type="radio" name="especie" id="peixe" value="3">Peixe<br>

        </fieldset><br>

        <label for="nascimento">Ano de Nascimento</label>
        <input type="number" name="nascimento" id="nascimento" size="10"><br><br>

        <input type="submit" value="Salvar">
        <input type="reset" value="Limpar">
    </form>
</body>
</html>