<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova de Programação IV</title>
</head>
<body>
    <h1>Lista de Animais</h1>
    <hr>
    <a href="/formanimais">Novo Animal</a>
    <a href="/">Voltar para a Tela Principal</a>
    <table border="1">
        <tr>
            <th>Número do Registro</th>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Ano de Nascimento</th>
        </tr>
        <%
        animais.forEach((a, index) => {
        %>
        <tr>
            <td><%= a.registro %></td>
            <td><%= a.nome %></td>
            <td><%= a.especie %></td>
            <td><%= a.nascimento %></td>
        </tr>
        <%
        })
        %>
    </table>
</body>
</html>